.category-card {
  width: 100%;
  padding: 24px;
  text-decoration: none;
  border-radius: 12px;
  box-shadow:
    0px 0px 2px 0px rgba(8, 31, 24, 0.1),
    0px 5px 20px 0px rgba(8, 31, 24, 0.08);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;

  &__title {
    margin: 0;
    color: $color-black;
  }

  @media (min-width: $desktop) {
    width: calc(100% / 3 - (16px * 3 / 2));
  }
}
