.catalog-detail {
  @include container();
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    margin-top: 0;
    width: calc(100% - 34px - 16px);

    &.loading {
      min-height: 22px;
    }
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  &__price {
    margin-bottom: 16px;
    font-weight: 700;

    &.loading {
      min-height: 20px;
    }
  }

  &__additional {
    &.loading {
      min-height: 78px;
    }
  }

  @media (min-width: $desktop-min) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;

    &__additional {
      width: 100%;
    }

    &__main {
      width: calc(70% - 16px);
    }

    &__content {
      width: calc(30% - 16px);
      display: flex;
      flex-direction: column;
    }

    &__buttons {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 32px;
    }

    &__title {
      font-size: 32px;
      line-height: 32px;
      width: 100%;
    }

    &__price {
      margin-top: auto;
      text-align: right;
    }
  }
}
